<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyt.community.dao.DiscussPostMapper">
    <sql id="selectFields">
        <!--定义查询的字段，方便后续复用-->
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <select id="selectDiscussPosts" resultType="DiscussPost">
        <!--返回类型为DiscussPost构成的List，其中List为Java自带的类型不用特意声明，只需要声明自定义的类DiscussPost即可-->
        select <include refid="selectFields"></include>
        from discuss_post
        <!--#{id}引入方法中的参数id-->
        where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
        <!--按照type排序，1表示置顶，0表示普通，type一样则根据create_time排-->
        limit #{offset}, #{limit}
        <!--查询起始行以及每页显示多少帖子-->
    </select>
    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
    </select>

</mapper>